/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
*,
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*Page transition*/
.animatein {
  -webkit-animation: transitionIn 0.75s;
  animation: transitionIn 0.75s;
}

@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Loader*/
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background: #212020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.loader-container .circles-wrapper .circle,
.loader-container .circles-wrapper .circle:nth-child(2),
.loader-container .circles-wrapper .circle:nth-child(3) {
  -webkit-box-shadow: 0rem 0rem 0rem 0rem #F0F0F0;
  box-shadow: 0rem 0rem 0rem 0rem #F0F0F0;
  border-radius: 50%;
  background-color: #F0F0F0;
  width: 1.25rem;
  height: 1.25rem;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  display: inline-block;
  position: relative;
  -webkit-animation: scale 1.2s linear infinite;
  animation: scale 1.2s linear infinite;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0.25;
  margin: 0.313rem;
}

.loader-container .circles-wrapper .circle:nth-child(2) {
  background: #F0F0F0;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loader-container .circles-wrapper .circle:nth-child(3) {
  background: #F0F0F0;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.hidden {
  -webkit-animation: fadeOut 1.2s;
  animation: fadeOut 1.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: -1;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.25;
  }
  25% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.75;
  }
  75% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.25;
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.25;
  }
  25% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.75;
  }
  75% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.25;
  }
}

/*Arrow - Scroll indicator*/
.scroll-indicator,
.scroll-up {
  position: fixed;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  z-index: 5;
  -webkit-box-shadow: 0rem 0rem 0.375rem 0.188rem #b7b7b7ad;
  box-shadow: 0rem 0rem 0.375rem 0.188rem #b7b7b7ad;
  background: #b7b7b7;
  opacity: 0;
}

.show {
  opacity: 0;
  -webkit-animation: bounce 5s ease-in-out 1s;
  animation: bounce 5s ease-in-out 1s;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.arrow {
  display: block;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  border-bottom: 0.125rem solid #fc3d21ad;
  border-right: 0.125rem solid #fc3d21ad;
  -webkit-transform: rotate(45deg) translate(1.75rem, 0rem);
  transform: rotate(45deg) translate(1.75rem, 0rem);
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-1.875rem);
    transform: translateY(-1.875rem);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(-0.938rem);
    transform: translateY(-0.938rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 0;
  }
  20% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-1.875rem);
    transform: translateY(-1.875rem);
    opacity: 1;
  }
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(-0.938rem);
    transform: translateY(-0.938rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
}

@-webkit-keyframes showArrow {
  to {
    opacity: 1;
  }
}

@keyframes showArrow {
  to {
    opacity: 1;
  }
}

.scroll-up {
  bottom: 5%;
  right: 15%;
  top: unset;
  left: unset;
  -webkit-box-shadow: 0.063rem 0.125rem 0.625rem 0rem #b7b7b742;
  box-shadow: 0.063rem 0.125rem 0.625rem 0rem #b7b7b742;
  border: 0.125rem solid #757373ad;
  background: #27282a;
  -webkit-transform: rotate(-180deg) translate(-1.563rem, -0.063rem);
  transform: rotate(-180deg) translate(-1.563rem, -0.063rem);
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  opacity: 0;
}

.scroll-up .arrow {
  -webkit-transform: rotate(45deg) translate(1.375rem, -0.188rem);
  transform: rotate(45deg) translate(1.375rem, -0.188rem);
}

.scroll-up.active {
  opacity: 1;
}

.scroll-up:active {
  -webkit-box-shadow: 0.063rem 0.063rem 0.625rem 0.188rem #b7b7b7b8;
  box-shadow: 0.063rem 0.063rem 0.625rem 0.188rem #b7b7b7b8;
}

/*Global CSS*/
.bg-parallax {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2000;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
}

header {
  font-family: "Oswald", sans-serif;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  height: 6.25rem;
}

header nav {
  width: 80%;
  margin: 0 auto;
}

header .inner-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}

header .logo {
  z-index: 1;
}

header .logo a {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #F0F0F0;
  font-size: 1.8rem;
  letter-spacing: 0.063rem;
  text-decoration: none;
}

header .hamburger {
  width: 2.75rem;
  height: 1.813rem;
  z-index: 1;
}

header .hamburger span {
  height: 0.25rem;
  background: #F0F0F0;
  display: block;
  border: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

header .hamburger span:nth-child(1) {
  width: 50%;
  margin-bottom: 0.313rem;
}

header .hamburger span:nth-child(2) {
  width: 90%;
  margin-bottom: 0.313rem;
  margin-left: 10%;
}

header .hamburger span:nth-child(3) {
  width: 50%;
  margin-left: 50%;
}

header .open span:nth-child(1) {
  width: 100%;
  -webkit-transform: rotate(45deg) translate(0.438rem, 0.563rem);
  transform: rotate(45deg) translate(0.438rem, 0.563rem);
}

header .open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

header .open span:nth-child(3) {
  width: 100%;
  margin: 0;
  -webkit-transform: rotate(-45deg) translate(0.25rem, -0.375rem);
  transform: rotate(-45deg) translate(0.25rem, -0.375rem);
}

header .menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #3a3a3a;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
}

header .menu.dropdown {
  visibility: visible;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

header .menu.dropdown li {
  opacity: 1;
  -webkit-transition: opacity 0.7s ease-in;
  transition: opacity 0.7s ease-in;
}

header .menu.dropdown li:nth-child(1) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

header .menu.dropdown li:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

header .menu.dropdown li:nth-child(3) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

header .menu.dropdown li:nth-child(4) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

header .menu.dropdown li:nth-child(5) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

header .menu ul {
  text-decoration: none;
  list-style: none;
  text-align: center;
}

header .menu ul li {
  padding: 1.5rem 0;
  opacity: 0;
}

header .menu ul a {
  text-decoration: none;
  color: #F0F0F0;
  font-weight: 200;
  border-bottom: 0.125rem solid #FC3D21;
  padding-bottom: 0.313rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.inner-counter {
  display: block;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  color: #A7A9AC;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
  text-align: left;
  margin-bottom: 0.5rem;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.launch .bg-launches {
  background-image: url("../img/history-in-hd-e5eDHbmHprg-unsplash.jpg");
  background-color: #212020;
  background-size: cover;
  background-position: 25% 31%;
}

.launch .overlay {
  background: rgba(41, 41, 41, 0.94);
}

.launch .locations-pads .info__name {
  font-size: 0.98rem;
}

.launch .locations-pads .info__text {
  color: #F0F0F0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
}

.launch .locations-pads .hr-break {
  margin: 2.5rem 0 2.5rem;
}

.launch .location-launches {
  padding: 0;
}

.launch .location-launches .accordion-item-content {
  padding: 1rem 0.5rem;
}

.launch .location-launches .accordion_btn {
  background: transparent;
  color: #F0F0F0;
}

.launch .location-launches .accordion_btn .cross,
.launch .location-launches .accordion_btn .cross:after {
  background: #F0F0F0;
}

.launch .location-launches .accordion_btn:hover {
  background: rgba(64, 63, 63, 0.7);
  border-radius: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.launch .location-launches .accordion_btn:hover .cross {
  width: 1.125rem;
  height: 0.188rem;
}

.launch .location-launches .accordion_btn:hover .cross:after {
  width: 1.125rem;
  height: 0.188rem;
  border: none;
}

.launch .location-launches .active {
  font-weight: 100;
  font-size: 1rem;
  background: rgba(70, 69, 69, 0.57);
  width: 100%;
  height: 2.5rem;
  border-radius: 0;
}

.launch .location_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.launch .location_container .info-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1.125rem 0;
}

.launch .location_container .info-container .info__text {
  font-family: "Open Sans", sans-serif;
  color: #A7A9AC;
  width: 100%;
  line-height: 1.8;
  font-size: 1rem;
  margin: 0.5rem 0;
  font-weight: 100;
}

.launch .previous-launches-container,
.launch .upcoming-launches-container {
  padding-right: 0;
  padding-left: 0;
}

.launch .previous-launches-container .container,
.launch .upcoming-launches-container .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.launch .previous-launches-container .container .launches_container,
.launch .upcoming-launches-container .container .launches_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.launch .previous-launches-container .container .launches_container .info-container,
.launch .upcoming-launches-container .container .launches_container .info-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.launch .previous-launches-container .container .hr-break,
.launch .upcoming-launches-container .container .hr-break {
  margin: 2.5rem 1rem 5.625rem;
  width: 94%;
}

.launch .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.launch .container .info__text,
.launch .container .info__name {
  margin-bottom: 0.75rem;
}

.launch .container .info-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.launch .container .info-container .info__text {
  font-size: 0.9rem;
  color: #F0F0F0;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #A7A9AC;
}

.launch .location-btn {
  margin: 0;
  font-size: 0.875rem;
}

.launch .location-btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.bg-rockets {
  background-image: url("../img/bantersnaps-5CPIzjWzGxo-unsplash.jpg");
  background-color: #212020;
}

.rockets .overlay {
  background: rgba(41, 41, 41, 0.88);
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 2.375rem;
  -webkit-box-shadow: -1rem 1rem 0.563rem #00000016;
  box-shadow: -1rem 1rem 0.563rem #00000016;
  margin-bottom: 3.125rem;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #212020;
}

.card > * {
  position: relative;
  z-index: 2;
}

.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #484747d6;
  border-radius: 2.375rem;
}

.card .card__title {
  font-family: "Oswald", sans-serif;
  color: #FC3D21;
  font-weight: 300;
  font-size: 1.9rem;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  position: absolute;
  left: 0.563rem;
  z-index: 3;
  display: inline-block;
}

.card .hr-break {
  width: 42%;
  margin: 0 0 0 22%;
}

.card__description {
  font-family: "Open Sans", sans-serif;
  color: #F0F0F0;
  font-weight: 300;
  font-size: .9rem;
  padding: 2.813rem 1.375rem;
  line-height: 1.6;
}

.card__description .accordion-item-content {
  padding: 0;
}

.card:nth-of-type(1) {
  background-image: url(../img/falcon1.jpg);
}

.card:nth-of-type(1) .card__title {
  bottom: 60%;
}

.card:nth-of-type(2) {
  background-image: url(../img/falcon9.png);
}

.card:nth-of-type(2) .card__title {
  bottom: 52%;
}

.card:nth-of-type(3) {
  background-image: url(../img/FalconHeavy.png);
}

.card:nth-of-type(3) .card__title {
  bottom: 57%;
}

.card:nth-of-type(4) {
  background-image: url(../img/starship.png);
}

.card:nth-of-type(4) .card__title {
  bottom: 59%;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 2.813rem 1.375rem;
}

.card__info .devider-container {
  margin: 0 0 0 20%;
}

.card__info .info-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 33%;
}

.card__info .info__name {
  color: #A7A9AC;
  font-size: 0.7rem;
  padding-bottom: 0.375rem;
}

.card__info .info__text {
  color: #F0F0F0;
  font-size: 0.8rem;
}

.card__info .devider-1,
.card__info .devider-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.about .bg-about {
  background-image: url("../img/48954138902_c51f6f28a0_k.jpg");
  background-color: #212020;
}

.about .overlay {
  background: rgba(41, 41, 41, 0.88);
}

.about .about-text {
  padding-bottom: 15.313rem;
}

.about .about-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #F0F0F0;
  font-weight: 200;
  line-height: 1.5;
}

.about .about-text p {
  margin-bottom: 1.375rem;
}

.about .about-text p:last-child {
  margin-bottom: rem;
}

.about .about-text a {
  font-size: 0.98rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #F0F0F0;
  text-decoration: none;
  border-bottom: 2px solid #F0F0F0;
  -webkit-transition: border-bottom .4s ease;
  transition: border-bottom .4s ease;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.about .about-text a:hover {
  color: #A7A9AC;
  border-bottom: 2px solid #FC3D21;
  cursor: pointer;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.bg-contact {
  background-image: url("../img/49235136806_7c0d6391a1_k.jpg");
  background-color: #212020;
}

.contact .overlay {
  background: rgba(41, 41, 41, 0.88);
}

form {
  width: 100%;
  height: 100%;
}

form .fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: none;
  padding-bottom: translateY(-0.754rem);
}

form .fieldset label {
  font-family: "Open Sans", sans-serif;
  color: #F0F0F0;
  padding-bottom: 0.7rem;
  font-weight: 200;
}

form .fieldset input[type="submit"],
form .fieldset input[type="text"],
form .fieldset input[type="email"],
form .fieldset textarea {
  width: 100%;
  border: none;
  font-size: 1rem;
  padding-left: 0.375rem;
  margin-bottom: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 1;
}

form .fieldset input[type="submit"],
form .fieldset input[type="text"],
form .fieldset input[type="email"] {
  width: 100%;
  padding: 1rem;
  border-radius: 0.313rem;
}

form .fieldset input[type="text"],
form .fieldset input[type="email"],
form .fieldset textarea {
  background: #cbcbcb;
}

form .fieldset input[type="text"]:hover,
form .fieldset input[type="email"]:hover,
form .fieldset textarea:hover {
  background: #A7A9AC;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

form .fieldset input[type="text"]:focus-within,
form .fieldset input[type="email"]:focus-within,
form .fieldset textarea:focus-within {
  background: #f0f0f0cc;
}

form .fieldset input[type="submit"] {
  font-weight: 600;
  -webkit-transition: background .2s ease-in;
  transition: background .2s ease-in;
}

form .fieldset input[type="submit"]:hover {
  background: #a22917;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

form .fieldset textarea {
  border-radius: 0.313rem;
  height: 10.438rem;
  width: 100%;
  margin-bottom: 0rem;
}

form .fieldset input[type="submit"] {
  font-size: 1rem;
  border-radius: 0.313rem;
  text-transform: uppercase;
  background: #FC3D21;
  color: #212020;
  margin-top: 2rem;
}

form .error {
  font-family: "Open Sans", sans-serif;
  color: #FC3D21;
  font-size: 0.813rem;
  display: none;
}

form .error-name,
form .error-email,
form .error-invalid-email {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

form .error-name-message {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.success-message {
  display: none;
}

.success-message h2 {
  font-family: "Oswald", sans-serif;
  color: #F0F0F0;
  font-weight: 200;
}

.success-message p {
  font-family: "Open Sans", sans-serif;
  color: #F0F0F0;
  font-weight: 200;
  line-height: 1.5;
}

.success-message p:nth-child(2) {
  margin: 2.5rem 0;
}

img {
  width: 100%;
}

.main {
  padding-top: 7rem;
  width: 80%;
  margin: 0 auto;
  min-height: calc(100vh - 9.375rem);
  position: relative;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: #FC3D21;
  font-weight: 400;
  font-size: 1.625rem;
  padding: 2.375rem 0 2.5rem 0;
}

.countdown-wrapper {
  padding-top: 3rem;
  line-height: 1.8;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.countdown__counter p {
  font-size: 0.75rem;
  color: #707070;
  display: inline;
}

.countdown__counter span {
  font-size: 1.75rem;
  color: #F0F0F0;
}

.all-pages {
  display: none;
}

.accordion_btn ~ .tab-content {
  height: 0rem;
}

.tab-content {
  padding: 0 1.125rem;
  overflow: hidden;
  line-height: 1.5rem;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.accordion .active {
  background: #1b1b1b96;
  font-weight: 400;
  -webkit-box-shadow: 0rem rem 1.125rem rem #F0F0F0;
  box-shadow: 0rem rem 1.125rem rem #F0F0F0;
  color: #F0F0F0;
}

.active + .tab-content {
  height: 100%;
}

.active .cross::after {
  background: #F0F0F0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.accordion_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: #A7A9AC;
  border-radius: 0.313rem;
  border: none;
  color: #212020;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  padding: 0 1.25rem 0 0.5rem;
  margin-bottom: 2rem;
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

.accordion_btn:hover {
  background: #1b1b1b6b;
  color: #F0F0F0;
}

.accordion_btn:hover .cross {
  background: #F0F0F0;
}

.accordion_btn:hover .cross::after {
  background: #F0F0F0;
}

.accordion_btn:focus {
  outline: none;
  -webkit-box-shadow: 0rem 0rem 0.188rem 0rem #F0F0F0;
  box-shadow: 0rem 0rem 0.188rem 0rem #F0F0F0;
}

[class~='accordion_btn']:last-of-type {
  margin-bottom: 0;
}

.cross-wrapper {
  padding-top: 0.5rem;
}

.cross {
  display: block;
  background: #525050;
  width: 1rem;
  height: 0.125rem;
}

.cross::after {
  content: "";
  display: block;
  background: #525050;
  width: 1rem;
  height: 0.125rem;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-item-content {
  padding: 1rem;
}

[class~='launches_container']:last-of-type {
  padding-bottom: 0.313rem;
}

.hr-break {
  width: 90%;
  margin: 5.625rem 1rem 5.625rem;
  border: 0.125rem #FC3D21 solid;
  opacity: 0.65;
}

/*Location Menu Left-Side*/
.locations {
  position: fixed;
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
  top: 0;
  display: none;
}

.locations .location-wrapper {
  display: block;
  font-family: "Oswald", sans-serif;
  color: #F0F0F0;
  font-weight: 200;
  width: 1.25rem;
  height: 4.688rem;
}

.locations .location-wrapper .title {
  width: 6.25rem;
}

.locations .location-wrapper .title h3 {
  font-weight: 200;
  text-align: center;
  display: inline-block;
  -webkit-transform: rotate(-90deg) translate(-100%, 0);
  transform: rotate(-90deg) translate(-100%, 0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.locations .location-wrapper .title .active-location {
  border-bottom: 0.125rem solid #FC3D21;
  font-weight: 300;
}

.locations .location-wrapper .location-content {
  padding-left: 1.875rem;
  width: 9.375rem;
  opacity: 0;
  -webkit-transition: opacity .3s, padding-left .3s;
  transition: opacity .3s, padding-left .3s;
  text-transform: uppercase;
  font-size: 0.938rem;
}

.locations .location-wrapper .area-1 {
  -webkit-transform: translateY(-1.25rem);
  transform: translateY(-1.25rem);
}

.locations .location-wrapper .area-2 {
  -webkit-transform: translateY(-2rem);
  transform: translateY(-2rem);
}

.locations .location-wrapper .area-3 {
  -webkit-transform: translateY(-2.188rem);
  transform: translateY(-2.188rem);
}

.locations .location-wrapper .area-4 {
  -webkit-transform: translateY(-1.625rem);
  transform: translateY(-1.625rem);
}

.location-wrapper-florida {
  height: 3.75rem;
}

.location-wrapper-texas {
  height: 3.125rem;
}

.location-wrapper-islands {
  height: 6.25rem;
}

.location-wrapper:hover .location-content {
  padding-left: 2.625rem;
  opacity: 1;
}

/*Footer*/
.footer {
  padding: 2.5rem 0;
  position: relative;
  z-index: 2;
}

.footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer section p {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 0.75rem;
  color: #A7A9AC;
}

.footer section span {
  width: 2.5rem;
  height: 0.25rem;
  background: #A7A9AC;
  margin: 0.313rem 0 0.313rem;
  display: block;
  margin: 1rem 0;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
.bg-home {
  background-image: url("../img/lea-castanie-irQ74aUdmjY-unsplash.jpg");
  background-color: #212020;
}

.home .overlay {
  background: rgba(53, 52, 52, 0.87);
}

header .logo p {
  display: none;
}

.main-home .accordion_btn {
  margin-bottom: 0;
}

.next-launch,
.countdown {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.coundtdown-desktop {
  display: none;
}

.coundtdown-mobile {
  display: block;
}

.next-launch div {
  width: 100%;
}

.next-launch p,
span {
  color: #FC3D21;
}

.next-launch p {
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  color: #F0F0F0;
  font-weight: 100;
  display: inline-block;
  -webkit-transform: translateY(1.563rem);
  transform: translateY(1.563rem);
}

.next-launch span {
  display: block;
}

.next-launch .year {
  font-size: 40vw;
  font-weight: 500;
  text-align: center;
}

.next-launch .month {
  font-size: 1.3rem;
  text-align: right;
  font-weight: 400;
  -webkit-transform: translateY(-12.063px);
  transform: translateY(-12.063px);
}

.next-launch-info {
  padding-bottom: 2.313rem;
}

.next-launch-info .accordion {
  padding-top: 0.75rem;
}

.next-launch-info__first-part {
  padding-top: 3rem;
}

.info__name {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #F0F0F0;
  font-weight: 300;
  font-size: 1rem;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.info__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.063rem;
  color: #9e9b9b;
  text-align: left;
}

.info__text a {
  font-size: 0.98rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #F0F0F0;
  text-decoration: none;
  border-bottom: 2px solid #F0F0F0;
  -webkit-transition: border-bottom .4s ease;
  transition: border-bottom .4s ease;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.info__text a:hover {
  color: #A7A9AC;
  border-bottom: 2px solid #FC3D21;
  cursor: pointer;
}

.highlighted {
  color: #136F68;
  font-weight: 500;
}

.details {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #F0F0F0;
  font-weight: 200;
  line-height: 2;
  padding: 0;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/
@media screen and (min-width: 28.25rem) {
  .countdown-wrapper {
    padding-bottom: 2.688rem;
    padding-top: 0;
  }
  .card .card__title {
    bottom: 59%;
    left: 1.875rem;
  }
  .card:nth-of-type(3) .card__title {
    bottom: 51%;
  }
}

@media screen and (min-width: 32rem) {
  .home .main-home {
    max-width: 409px;
  }
  .next-launch .year {
    font-size: 12rem;
  }
  .devider-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    height: 100%;
    margin: 0 0 0 22%;
  }
  .card__info .devider-1,
  .card__info .devider-2 {
    width: 100%;
    margin: 0;
  }
  .card__info .devider-1 .infor__name,
  .card__info .devider-2 .infor__name {
    font-size: 0.875rem;
  }
  .card__info .devider-1 .info__text,
  .card__info .devider-2 .info__text {
    font-size: 1rem;
  }
  .card .card__title {
    font-size: 1.875rem;
    bottom: 54%;
    left: 8%;
  }
  /*Contact*/
  form {
    width: 25.563rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 42rem) {
  .countdown-wrapper {
    padding: 0;
  }
  .next-launch p {
    -webkit-transform: translateY(3.125rem);
    transform: translateY(3.125rem);
  }
  .next-launch .year {
    letter-spacing: 0.5rem;
    margin-left: -0.3rem;
  }
  .next-launch .month {
    -webkit-transform: translate(-0.5rem, -1rem);
    transform: translate(-0.5rem, -1rem);
  }
  .next-launch-info {
    padding-bottom: 1.5rem;
  }
  .card .card__title {
    bottom: 47%;
  }
  .card__info .devider-1,
  .card__info .devider-2 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .card__description {
    text-align: center;
  }
  .card:nth-of-type(3) .card__title {
    bottom: 48%;
  }
  .card:nth-of-type(4) .card__title {
    bottom: 54%;
  }
  /*Launches*/
  .launch .locations-pads .hr-break {
    width: 50%;
    margin-left: 26%;
    margin-right: 26%;
  }
  .tab-content {
    background: #1b1b1b47;
    border-bottom-left-radius: 0.313rem;
    border-bottom-right-radius: 0.313rem;
  }
}

@media screen and (min-width: 43.75rem) {
  .main {
    max-width: 36.375rem;
  }
}

@media screen and (min-width: 64rem) {
  header {
    max-width: 56.25rem;
    margin: 0 auto;
  }
  header nav {
    width: 100%;
    margin: 0;
  }
  .home .main-home {
    max-width: 40rem;
  }
  .home .info-container .info__text {
    width: 50%;
  }
  .countdown-wrapper {
    width: 63%;
  }
  .next-launch .year {
    font-size: 14rem;
    letter-spacing: 1.5;
  }
  .next-launch .month {
    -webkit-transform: translate(-3.5rem, -1.5rem);
    transform: translate(-3.5rem, -1.5rem);
    font-size: 1.8rem;
  }
  .next-launch-info {
    padding-top: 0;
  }
  /*Launches*/
  .launch .locations-pads .hr-break {
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
  .card__info .info__name {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 85.375rem) {
  .home .main-home {
    max-width: 75rem;
  }
  header {
    max-width: 75rem;
    margin: 0 auto;
  }
  header .logo a {
    font-size: 1.875rem;
  }
  header .logo p {
    display: block;
    color: #A7A9AC;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.5rem;
  }
  header nav {
    width: 100%;
  }
  header .hamburger {
    display: none;
  }
  header .menu {
    visibility: visible;
    -webkit-transform: translate(0rem, 0rem);
    transform: translate(0rem, 0rem);
    background: transparent;
    position: fixed;
    width: 7.5rem;
    height: 18.125rem;
    top: 0;
    left: 49%;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: translate(29.9rem, 146%);
    transform: translate(29.9rem, 146%);
  }
  header .menu ul {
    margin-right: auto;
  }
  header .menu .nav-link {
    position: relative;
    text-align: left;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    opacity: 1;
    padding: 1rem 0;
  }
  header .menu .nav-link .circle {
    position: absolute;
    top: 1.5rem;
    right: -36.8px;
    height: 0.625rem;
    width: 0.625rem;
    background: #acadafc7;
    display: inline-block;
    border: none;
    border-radius: 50%;
    -webkit-transition: background 0.3s, -webkit-transform 0.3s;
    transition: background 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, background 0.3s;
    transition: transform 0.3s, background 0.3s, -webkit-transform 0.3s;
  }
  header .menu .nav-link .circle-short-line,
  header .menu .nav-link .circle-long-line {
    content: "";
    position: absolute;
    background: #acadafc7;
    width: 0.188rem;
    height: 2rem;
    top: -1.188rem;
    right: -55%;
  }
  header .menu .nav-link .circle-short-line {
    top: -1%;
    height: 1rem;
  }
  header .menu .nav-link .circle-long-line {
    top: 73%;
  }
  header .menu .nav-link [class~="circle-short-line"]:last-of-type {
    top: 71%;
  }
  header .menu .nav-link a {
    border-bottom: none;
    padding: 0;
    color: #acadafc7;
    display: inline-block;
    font-size: 1rem;
  }
  header .menu .nav-link a:hover {
    -webkit-transform: scale(1.2) translateX(3px);
    transform: scale(1.2) translateX(3px);
    color: #F0F0F0;
    transition: color 0.3s, -webkit-transform 0.3s;
    -webkit-transition: color 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, color 0.3s;
    transition: transform 0.3s, color 0.3s, -webkit-transform 0.3s;
  }
  header .menu .nav-link a:hover + .circle {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    background: #F0F0F0;
  }
  header .menu .nav-link .active-link {
    -webkit-transform: scale(1.2) translateX(3px);
    transform: scale(1.2) translateX(3px);
    color: #F0F0F0;
  }
  header .menu .nav-link .active-link + .circle {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    background: #F0F0F0;
  }
  .main {
    padding-top: 8.5rem;
    max-width: 75rem;
    margin: 0 auto;
  }
  .main .locations {
    display: block;
    -webkit-transform: translateY(146%);
    transform: translateY(146%);
    z-index: 1;
    height: 18.125rem;
  }
  .main .locations .location-wrapper .mislands {
    -webkit-transform: rotate(-90deg) translate(-64%, 1%);
    transform: rotate(-90deg) translate(-64%, 1%);
  }
  .main .locations .location-wrapper .texas {
    -webkit-transform: rotate(-90deg) translate(-63%, 1%);
    transform: rotate(-90deg) translate(-63%, 1%);
  }
  .countdown-wrapper {
    width: 300px;
    display: inline-block;
    z-index: 10;
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
    max-width: initial;
  }
  .countdown-wrapper .countdown {
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .countdown-wrapper .countdown .countdown__counter {
    width: auto;
    display: initial;
  }
  .countdown-wrapper .countdown .countdown__counter span {
    font-size: 1.625rem;
  }
  .countdown-wrapper .countdown .countdown__counter p {
    font-size: 1.063rem;
    font-weight: 200;
  }
  .home .coundtdown-mobile {
    position: absolute;
    top: -519px;
    left: 628px;
  }
  .all-pages {
    top: 30px;
    right: 24px;
  }
  .next-launch {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
  }
  .next-launch div {
    bottom: 1.5rem;
  }
  .next-launch .year {
    font-size: 16em;
    letter-spacing: 3.58rem;
  }
  .next-launch p {
    font-size: 1rem;
  }
  .next-launch .month {
    font-size: 1.8rem;
    font-weight: 300;
    bottom: 0;
    -webkit-transform: translate(-61px, -40px);
    transform: translate(-61px, -40px);
  }
  .month {
    margin-left: 95%;
  }
  .next-launch,
  .next-launch-info {
    width: 60%;
    margin: 0 auto;
  }
  .next-launch-info__first-part {
    padding-top: 0;
  }
  .next-launch-info {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
  }
  .next-launch-info .info-container {
    padding-bottom: 0.625rem;
    margin-bottom: 0;
  }
  .next-launch-info .info-container .info__name {
    font-size: 1rem;
  }
  .next-launch-info .info-container .info__text {
    font-size: 1rem;
    color: #8c8a8a;
  }
  .next-launch-info .info-container .highlighted {
    color: #136f68;
  }
  /*Launches*/
  .launch .accordion {
    width: 60%;
    margin: 0 auto;
  }
  .launch .location-launches {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  .launch .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .launch .container .info__text,
  .launch .container .info__name {
    width: 25%;
  }
  .launch .container .info-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .launch .upcoming-launches,
  .launch .previous-launches {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
  }
  .launch .previous-launches-container .container .launches_container,
  .launch .upcoming-launches-container .container .launches_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .launch .previous-launches-container .container .launches_container .info-container,
  .launch .upcoming-launches-container .container .launches_container .info-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  h1 {
    margin-left: 16%;
    -webkit-transform: translateY(-1.563rem);
    transform: translateY(-1.563rem);
  }
  .cards {
    width: 60%;
    margin: 0 auto;
  }
  .cards .card {
    min-height: 28.125rem;
  }
  .rockets .accordion-item-content {
    padding: 1rem 1rem 1rem 0.063rem;
  }
  .rockets .card__title {
    font-size: 3.5rem;
  }
  .rockets .card:nth-of-type(1) .card__title,
  .rockets .card:nth-of-type(2) .card__title,
  .rockets .card:nth-of-type(3) .card__title,
  .rockets .card:nth-of-type(4) .card__title {
    bottom: 0;
  }
  .rockets .card__info {
    padding: 12.5rem 1.375rem 0rem 1.375rem;
  }
  .rockets .card__description {
    padding: 0.938rem 0.625rem 2.813rem 0.938rem;
    text-align: left;
    margin: 0 0 0 20%;
  }
  /*About*/
  .about .about-text {
    width: 60%;
    margin: 0 auto;
    background: #21202059;
    padding: 3.75rem;
    border-radius: 0.313rem;
    height: 28.125rem;
  }
  /*Contact*/
  form,
  .success-message {
    width: 60%;
    margin: 0 auto;
    background: #21202059;
    padding: 5% 7%;
    border-radius: 0.313rem;
  }
  form .fieldset,
  .success-message .fieldset {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-evenly;
    padding-bottom: 1.563rem;
    width: 100%;
  }
  form .fieldset label,
  .success-message .fieldset label {
    width: 10%;
  }
  form .fieldset input[type="text"],
  form .fieldset input[type="email"],
  form .fieldset textarea,
  .success-message .fieldset input[type="text"],
  .success-message .fieldset input[type="email"],
  .success-message .fieldset textarea {
    width: 50%;
    font-size: 0.875rem;
    padding: 0.6rem;
  }
  form .fieldset input[type="submit"],
  .success-message .fieldset input[type="submit"] {
    width: 50%;
    margin-left: 37%;
  }
  form .error {
    margin-left: 38%;
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
  }
  form .error:nth-of-type(4) {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
  /*Scroll-Up Icon*/
  .scroll-up {
    bottom: 10%;
    right: 25%;
  }
}
/*# sourceMappingURL=main.css.map */