*, html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-parallax {
  position: relative;
}

.bg-parallax:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

header {
  font-family: "Oswald", sans-serif;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 38px;
  z-index: 4;
}

header nav {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

header .inner-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  z-index: 6;
}

header .logo a {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #F0F0F0;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-decoration: none;
}

header .hamburger {
  width: 44px;
  height: 29px;
}

header .hamburger span {
  height: 4px;
  background: #F0F0F0;
  display: block;
  border: none;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

header .hamburger span:nth-child(1) {
  width: 50%;
  margin-bottom: 5px;
}

header .hamburger span:nth-child(2) {
  width: 90%;
  margin-bottom: 5px;
  margin-left: 10%;
}

header .hamburger span:nth-child(3) {
  width: 50%;
  margin-left: 50%;
}

header .open span:nth-child(1) {
  width: 100%;
  -webkit-transform: rotate(45deg) translate(7px, 9px);
          transform: rotate(45deg) translate(7px, 9px);
}

header .open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

header .open span:nth-child(3) {
  width: 100%;
  margin: 0;
  -webkit-transform: rotate(-45deg) translate(4px, -6px);
          transform: rotate(-45deg) translate(4px, -6px);
}

header .menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #3a3a3a;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

header .menu.dropdown {
  visibility: visible;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

header .menu.dropdown li {
  opacity: 1;
  -webkit-transition: opacity 0.7s ease-in;
  transition: opacity 0.7s ease-in;
}

header .menu.dropdown li:nth-child(1) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

header .menu.dropdown li:nth-child(2) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

header .menu.dropdown li:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

header .menu.dropdown li:nth-child(4) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

header .menu.dropdown li:nth-child(5) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

header .menu ul {
  text-decoration: none;
  list-style: none;
  text-align: center;
}

header .menu ul li {
  padding: 1rem 0;
  opacity: 0;
}

header .menu ul a {
  text-decoration: none;
  color: #F0F0F0;
  font-weight: 200;
  border-bottom: 2px solid #FC3D21;
  padding-bottom: 5px;
}

.bg-launches {
  background: #212020 url(../img/history-in-hd-e5eDHbmHprg-unsplash.jpg) fixed no-repeat 25% 31%/cover;
}

.bg-launches:after {
  background: rgba(41, 41, 41, 0.94);
}

.launches_container .info__name {
  font-size: 13px;
}

.launches_container .info__text {
  color: #F0F0F0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.location-launches .accordion_btn {
  background: transparent;
  color: #F0F0F0;
}

.location-launches .accordion_btn .cross, .location-launches .accordion_btn .cross:after {
  background: #F0F0F0;
}

.location-launches .accordion_btn:hover {
  background: rgba(64, 63, 63, 0.7);
  border-radius: 0;
  font-size: 18px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.location-launches .accordion_btn:hover .cross {
  width: 18px;
  height: 3px;
}

.location-launches .accordion_btn:hover .cross:after {
  width: 18px;
  height: 3px;
  border: none;
}

.location-launches .active {
  font-weight: 100;
  font-size: 14px;
  background: rgba(70, 69, 69, 0.57);
  width: 100%;
  height: 40px;
  border-radius: 0;
}

.location_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.location_container .info-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 18px 0;
}

.location_container .info-container .info__text {
  font-family: "Open Sans", sans-serif;
  color: #A7A9AC;
  width: 100%;
  line-height: 1.8;
  font-size: 14px;
  margin: 8px 0;
}

.location_container [class~='info-container']:last-of-type {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: underline;
}

.bg-rockets {
  background: #212020 url(../img/bantersnaps-5CPIzjWzGxo-unsplash.jpg) fixed no-repeat center/cover;
}

.bg-rockets:after {
  background: rgba(41, 41, 41, 0.88);
}

.bg-rockets h1 {
  font-family: "Oswald", sans-serif;
  color: #F0F0F0;
  font-weight: 200;
  font-size: 26px;
  padding: 38px 0 40px 0;
}

.card {
  background: #212020 url(../img/falcon1.jpg) no-repeat center/cover;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 38px;
  -webkit-box-shadow: -16px 16px 9px #00000016;
          box-shadow: -16px 16px 9px #00000016;
  margin-bottom: 50px;
}

.card > * {
  position: relative;
  z-index: 2;
}

.card:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #484747d6;
  border-radius: 38px;
}

.card .hr-break {
  width: 42%;
  margin: 0 0 0 25%;
}

.card__description {
  font-family: "Open Sans", sans-serif;
  color: #F0F0F0;
  font-weight: 300;
  font-size: .9rem;
  padding: 45px 22px 45px 22px;
  line-height: 1.6;
}

[class~='card']:last-of-type {
  margin-bottom: 0px;
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding: 45px 22px 45px 22px;
}

.card__info .card__title {
  font-family: "Oswald", sans-serif;
  color: #FC3D21;
  font-weight: 300;
  font-size: 27px;
  -webkit-transform: translate(0, 100%) rotate(-90deg);
          transform: translate(0, 100%) rotate(-90deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  position: absolute;
  bottom: 30%;
  left: 4%;
}

.card__info .info-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 33%;
}

.card__info .info__name {
  color: #A7A9AC;
  font-size: 12px;
  padding-bottom: 6px;
}

.card__info .info__text {
  color: #F0F0F0;
  font-size: 12px;
}

.card__info .devider-1, .card__info .devider-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin: auto;
}

.bg-about {
  background: #212020 url(../img/48954138902_c51f6f28a0_k.jpg) fixed no-repeat center/cover;
}

.bg-about:after {
  background: rgba(41, 41, 41, 0.88);
}

.bg-about .about-text {
  padding-bottom: 245px;
}

.bg-about .about-text, .bg-about a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #F0F0F0;
  font-weight: 200;
  line-height: 1.5;
}

.bg-about .about-text p, .bg-about a p {
  margin-bottom: 22px;
}

.bg-about .about-text p:last-child, .bg-about a p:last-child {
  margin-bottom: 0px;
}

.bg-contact {
  background: #212020 url(../img/49235136806_7c0d6391a1_k.jpg) fixed no-repeat center/cover;
}

.bg-contact:after {
  background: rgba(41, 41, 41, 0.88);
}

form {
  width: 100%;
  height: 100%;
}

form .fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  padding-bottom: 32px;
}

form .fieldset label {
  font-family: "Open Sans", sans-serif;
  color: #F0F0F0;
  padding-bottom: 16px;
  font-weight: 200;
}

form .fieldset input[type="submit"], form .fieldset input[type="text"], form .fieldset input[type="email"], form .fieldset textarea {
  width: 100%;
  border: none;
  font-size: 16px;
  padding-left: 6px;
}

form .fieldset input[type="submit"], form .fieldset input[type="text"], form .fieldset input[type="email"] {
  width: 100%;
  height: 42px;
  border-radius: 5px;
}

form .fieldset input[type="text"], form .fieldset input[type="email"], form .fieldset textarea {
  background: #949494;
}

form .fieldset input[type="text"]:hover, form .fieldset input[type="email"]:hover, form .fieldset textarea:hover {
  background: #A7A9AC;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

form .fieldset input[type="text"]:focus-within, form .fieldset input[type="email"]:focus-within, form .fieldset textarea:focus-within {
  background: #f0f0f0cc;
}

form .fieldset input[type="submit"]:hover {
  background: #b9210b;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

form .fieldset textarea {
  border-radius: 5px;
  height: 167px;
  width: 100%;
}

form .fieldset input[type="submit"] {
  font-size: 16px;
  border-radius: 5px;
  text-transform: uppercase;
  background: #FC3D21;
  color: #212020;
}

form .fieldset .error {
  font-family: "Open Sans", sans-serif;
  color: #FC3D21;
  font-size: 13px;
  padding: 5px 0;
  display: none;
}

.success-message {
  display: none;
}

.success-message h2 {
  font-family: "Oswald", sans-serif;
  color: #F0F0F0;
  font-weight: 200;
}

.success-message p {
  font-family: "Open Sans", sans-serif;
  color: #F0F0F0;
  font-weight: 200;
  line-height: 1.5;
}

.success-message p:nth-child(2) {
  margin: 40px 0;
}

img {
  width: 100%;
}

.main {
  padding-top: 90px;
  width: 80%;
  margin: 0 auto;
  min-height: calc(100vh - 150px);
  z-index: 4;
  position: relative;
  z-index: 2;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: #FC3D21;
  font-weight: 400;
  font-size: 26px;
  padding: 38px 0 40px 0;
}

.countdown-wrapper {
  padding-bottom: 80px;
  padding-top: 13px;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.countdown__counter {
  display: block;
  width: 25%;
}

.countdown__counter p {
  font-size: 12px;
  color: #707070;
  display: inline;
}

.countdown__counter span {
  font-size: 28px;
  color: #F0F0F0;
}

.all-pages {
  display: none;
}

.accordion_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 64px;
  background: #A7A9AC;
  border-radius: 5px;
  border: none;
  color: #212020;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  padding: 0 8px;
  margin-bottom: 32px;
}

.accordion_btn:hover {
  background: #1b1b1b47;
  color: #F0F0F0;
}

.accordion_btn:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 3px 0px #F0F0F0;
          box-shadow: 0px 0px 3px 0px #F0F0F0;
}

.cross-wrapper {
  padding-top: 8px;
}

.cross {
  display: block;
  background: #525050;
  width: 16px;
  height: 2px;
}

.cross::after {
  content: "";
  display: block;
  background: #525050;
  width: 16px;
  height: 2px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.tab-content,
.location-launches__info {
  max-height: 0;
  overflow: auto;
  -webkit-transition: max-height, .3s ease-in-out;
  transition: max-height, .3s ease-in-out;
}

[class~='launches_container']:last-of-type {
  padding-bottom: 5px;
}

.active + .tab-content {
  padding: 8%;
  background: #1b1b1b47;
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
}

.active {
  background: #1b1b1b47;
  font-weight: 300;
  color: #FC3D21;
}

.active .cross::after {
  background: #FC3D21;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.hr-break {
  width: 90%;
  margin: 90px 6% 90px;
  border: 2px #FC3D21 solid;
  opacity: 0.65;
}

.footer {
  padding: 40px 0;
  position: relative;
  z-index: 2;
}

.footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer section p {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 12px;
  color: #A7A9AC;
}

.footer section span {
  width: 40px;
  height: 4px;
  background: #A7A9AC;
  margin: 5px 0 5px;
  display: block;
  margin: 16px 0;
}

.bg-home {
  background: #212020 url(../img/lea-castanie-irQ74aUdmjY-unsplash.jpg) fixed no-repeat center/cover;
}

.bg-home::after {
  background: rgba(53, 52, 52, 0.87);
}

header .logo p {
  display: none;
}

.main-home .accordion_btn {
  margin-bottom: 0;
}

.locations {
  position: absolute;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  top: 0;
  left: 0;
  display: none;
}

.location-wrapper {
  display: block;
  font-family: "Oswald", sans-serif;
  color: #F0F0F0;
  font-weight: 200;
  width: 20px;
  height: 75px;
}

.location-wrapper .title {
  width: 100px;
}

.location-wrapper .title h3 {
  font-weight: 200;
  text-align: center;
  display: inline-block;
  -webkit-transform: rotate(-90deg) translate(-100%, 0);
          transform: rotate(-90deg) translate(-100%, 0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.location-wrapper .title .active-location {
  border-bottom: 2px solid #FC3D21;
  font-weight: 300;
}

.location-wrapper .location-content {
  padding-left: 30px;
  width: 150px;
  opacity: 0;
  -webkit-transition: opacity .3s, padding-left .3s;
  transition: opacity .3s, padding-left .3s;
  text-transform: uppercase;
  font-size: 15px;
}

.location-wrapper .area-1 {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.location-wrapper .area-2 {
  -webkit-transform: translateY(-32px);
          transform: translateY(-32px);
}

.location-wrapper .area-3 {
  -webkit-transform: translateY(-23px);
          transform: translateY(-23px);
}

.location-wrapper .area-4 {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.location-wrapper-florida {
  height: 60px;
}

.location-wrapper-texas {
  height: 50px;
}

.location-wrapper-islands {
  height: 100px;
}

.location-wrapper:hover .location-content {
  padding-left: 42px;
  opacity: 1;
}

.next-launch {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.next-launch, .countdown {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.next-launch div {
  width: 100%;
}

.next-launch p, span {
  color: #FC3D21;
}

.next-launch p {
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  color: #F0F0F0;
  font-weight: 100;
  display: inline-block;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}

.next-launch span {
  display: block;
}

.next-launch .year {
  font-size: 40vw;
  font-weight: 500;
  text-align: center;
}

.next-launch .month {
  font-size: 1.3rem;
  text-align: right;
  font-weight: 400;
  margin-top: -17px;
  display: inline-block;
  margin-left: 80%;
}

.countdown-wrapper {
  padding-bottom: 80px;
  padding-top: 13px;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.countdown__counter {
  display: block;
  width: 25%;
}

.countdown__counter p {
  font-size: 12px;
  color: #707070;
  display: inline;
}

.countdown__counter span {
  font-size: 28px;
  color: #F0F0F0;
}

.next-launch-info {
  padding-bottom: 37px;
}

.next-launch-info .accordion {
  padding-top: 12px;
}

.info__name {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #F0F0F0;
  font-weight: 300;
  font-size: 16px;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.info__text {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #707070;
  width: 100px;
  text-align: left;
}

.highlighted {
  color: #136F68;
  font-weight: 500;
}

.active + .details {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.details p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #F0F0F0;
  font-weight: 200;
  height: 100%;
  line-height: 2;
}

@media screen and (min-width: 452px) {
  .countdown-wrapper {
    width: 350px;
    margin: 0 auto;
    padding-bottom: 43px;
    padding-top: 0;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
}

@media screen and (min-width: 512px) {
  .next-launch .year {
    font-size: 30vw;
  }
  .devider-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    height: 100%;
    margin: 0 0 0 22%;
  }
  .card__info .devider-1,
  .card__info .devider-2 {
    width: 100%;
    margin: 0;
  }
  .card__info .devider-1 .infor__name,
  .card__info .devider-2 .infor__name {
    font-size: 14px;
  }
  .card__info .devider-1 .info__text,
  .card__info .devider-2 .info__text {
    font-size: 16px;
  }
  .card__info .info-container {
    width: auto;
  }
  .card__info .card__title {
    font-size: 35px;
    bottom: 0;
    left: 2%;
  }
  /*Contact*/
  form {
    width: 409px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 672px) {
  .next-launch {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  .next-launch p {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  .next-launch .year {
    font-size: 30vw;
  }
  .card__info .devider-1,
  .card__info .devider-2 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card__description {
    text-align: center;
  }
}

@media screen and (min-width: 700px) {
  .main {
    max-width: 582px;
  }
  .next-launch {
    -webkit-transform: translateY(-35px);
            transform: translateY(-35px);
  }
  .next-launch .year {
    font-size: 200px;
    letter-spacing: 20px;
  }
  .countdown-wrapper {
    margin: 0;
  }
  .countdown__counter span {
    font-size: 32px;
  }
  .next-launch-info .info__text {
    margin-right: 30%;
  }
}

@media screen and (min-width: 1024px) {
  header {
    max-width: 900px;
    margin: 0 auto;
  }
  header nav {
    width: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 1366px) {
  header {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
  header .logo {
    margin-left: -41px;
  }
  header .logo a {
    font-size: 30px;
  }
  header .logo p {
    display: block;
    color: #A7A9AC;
    font-size: 16px;
    font-weight: 300;
    margin-top: 8px;
  }
  header nav {
    width: 100%;
  }
  header .hamburger {
    display: none;
  }
  header .menu {
    visibility: visible;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    background: transparent;
    position: absolute;
    width: 108px;
    height: 290px;
    top: 0;
    left: 50%;
    -webkit-transition: none;
    transition: none;
    -webkit-transform: translate(444px, 146%);
            transform: translate(444px, 146%);
  }
  header .menu .nav-link {
    position: relative;
    text-align: left;
    font-size: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    opacity: 1;
  }
  header .menu .nav-link .circle {
    position: absolute;
    top: 24px;
    right: -62.5%;
    height: 10px;
    width: 10px;
    background: #A7A9AC;
    display: inline-block;
    border: none;
    border-radius: 50%;
    -webkit-transition: background .3s, -webkit-transform .3s;
    transition: background .3s, -webkit-transform .3s;
    transition: transform .3s, background .3s;
    transition: transform .3s, background .3s, -webkit-transform .3s;
  }
  header .menu .nav-link .circle-short-line,
  header .menu .nav-link .circle-long-line {
    content: '';
    position: absolute;
    background: #A7A9AC;
    width: 3px;
    height: 32px;
    top: -19px;
    right: -55%;
  }
  header .menu .nav-link .circle-short-line {
    top: 0%;
    height: 15px;
  }
  header .menu .nav-link .circle-long-line {
    top: 72%;
  }
  header .menu .nav-link [class~='circle-short-line']:last-of-type {
    top: 38px;
  }
  header .menu .nav-link a {
    border-bottom: none;
    padding: 0;
    color: #A7A9AC;
    display: inline-block;
    font-size: 15px;
  }
  header .menu .nav-link a:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #F0F0F0;
    -webkit-transition: color .3s, -webkit-transform .3s;
    transition: color .3s, -webkit-transform .3s;
    transition: transform .3s, color .3s;
    transition: transform .3s, color .3s, -webkit-transform .3s;
  }
  header .menu .nav-link a:hover + .circle {
    -webkit-transform: translate(2%, -16%) scale(1.5);
            transform: translate(2%, -16%) scale(1.5);
    background: #F0F0F0;
  }
  header .menu .nav-link .active-link {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #F0F0F0;
  }
  header .menu .nav-link .active-link + .circle {
    -webkit-transform: translate(2%, -16%) scale(1.5);
            transform: translate(2%, -16%) scale(1.5);
    background: #F0F0F0;
  }
  .main {
    padding-top: 73px;
    max-width: 1200px;
    margin: 0 auto;
    left: -25px;
  }
  .main .locations {
    display: block;
    -webkit-transform: translateY(134%);
            transform: translateY(134%);
    z-index: 1;
  }
  .next-launch {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  .next-launch-info .accordion {
    padding-top: 20px;
  }
  .next-launch div {
    position: relative;
  }
  .next-launch .year {
    font-size: 210px;
    letter-spacing: 20px;
    position: absolute;
    left: 50%;
    top: -50%;
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
  .next-launch p {
    font-size: 16px;
    -webkit-transform: translate(111px, -1px);
            transform: translate(111px, -1px);
  }
  .next-launch .month {
    font-size: 22px;
    font-weight: 300;
    -webkit-transform: translate(-106px, 277px);
            transform: translate(-106px, 277px);
  }
  .month {
    margin-left: 95%;
  }
  .next-launch,
  .next-launch-info,
  .accordion {
    width: 800px;
    margin: 0 auto;
  }
  .next-launch-info {
    padding: 311px 0 0;
  }
  .next-launch-info .info-container {
    padding-bottom: 10px;
    margin-bottom: 0;
  }
  .next-launch-info .info-container .info__name {
    font-size: 16px;
  }
  .next-launch-info .info-container .info__text {
    font-size: 19px;
    color: #8c8a8a;
  }
  .next-launch-info .info-container .highlighted {
    color: #136F68;
  }
  .countdown-wrapper {
    width: 355px;
    position: relative;
    top: -153px;
    left: 840px;
    padding: 0;
  }
  .countdown-wrapper .countdown {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .countdown-wrapper .countdown .countdown__counter span {
    font-size: 26px;
  }
  .countdown-wrapper .countdown .countdown__counter p {
    font-size: 17px;
    font-weight: 200;
  }
  /*Launches*/
  .all-pages {
    display: block;
    top: -121px;
  }
  .bg-launches .all-pages {
    top: -101px;
  }
  h1 {
    margin-left: 16%;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  .cards {
    width: 800px;
    margin: 0 auto;
  }
  .bg-rockets .countdown-wrapper {
    top: -102px;
  }
  .bg-rockets .card__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 45px 22px 0px 22px;
    margin: 0 0 0 22%;
    padding-top: 120px;
    -webkit-transform: translateY(104px);
            transform: translateY(104px);
  }
  .bg-rockets .card__info .card__title {
    font-size: 65px;
    bottom: -136px;
    left: -137px;
  }
  .bg-rockets .devider-container {
    margin: 0;
  }
  .bg-rockets .hr-break {
    margin: 45px 0 45px 22%;
    -webkit-transform: translateY(84px);
            transform: translateY(84px);
  }
  .bg-rockets .card__description {
    -webkit-transform: translateY(66px);
            transform: translateY(66px);
    margin: 0 0 0 22%;
    text-align: left;
    padding: 0;
  }
  .bg-about .countdown-wrapper {
    top: -102px;
  }
  .bg-about .about-text {
    width: 800px;
    margin: 0 auto;
    background: #21202059;
    padding: 60px;
    border-radius: 5px;
    height: 450px;
  }
  /*Contact*/
  form, .success-message {
    width: 800px;
    margin: 0 auto;
    background: #21202059;
    padding: 5% 7%;
    border-radius: 5px;
  }
  form .fieldset, .success-message .fieldset {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 25px;
    width: 100%;
  }
  form .fieldset label, .success-message .fieldset label {
    width: 10%;
  }
  form .fieldset input[type="text"],
  form .fieldset input[type="email"],
  form .fieldset textarea, .success-message .fieldset input[type="text"],
  .success-message .fieldset input[type="email"],
  .success-message .fieldset textarea {
    width: 75%;
    font-size: 14px;
    padding: 6px 6px;
  }
  form .fieldset input[type="submit"], .success-message .fieldset input[type="submit"] {
    width: 75%;
    margin-left: 25%;
  }
}
/*# sourceMappingURL=main.css.map */