/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.about {
  .bg-about {
    background-image: url("../img/48954138902_c51f6f28a0_k.jpg");
    background-color: $color-black;
  }
  .overlay {
    background: rgba(41, 41, 41, 0.88);
  }

  .about-text {
    padding-bottom: 15.313rem;
  }

  .about-text,  .about-text a{
    font-family: $font-text;
    font-size: 1rem;
    color: $color-light-grey;
    font-weight: $extra-light;
    line-height: 1.5;



    p {
      margin-bottom: 1.375rem;

      &:last-child {
        margin-bottom: rem;
      }
    }
  }

}
