
.bg-home {
  background: $color-black url(../img/lea-castanie-irQ74aUdmjY-unsplash.jpg) fixed no-repeat center/cover;
  &::after {
    background: rgba(53, 52, 52, 0.87);
  }
}

header .logo p {
  display: none;
}

.main-home .accordion_btn{
 margin-bottom: 0;
}

.locations {
  position: absolute;
    transform: translateY(150%);
    top: 0;
    left: 0;
    display: none;
}

.location-wrapper {
  display: block;
  font-family: $font-heading;
  color: $color-light-grey;
  font-weight: $extra-light;

  width: 20px;
  height: 75px;

  .title {
    width: 100px;
  }

  .title h3 {
    font-weight: $extra-light;
    text-align: center;
    display:inline-block;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: 0 0;
  }

  .title .active-location {
    border-bottom: 2px solid #FC3D21;
    font-weight: $light;
  }

  .location-content {
    padding-left: 30px;
    width: 150px;
    opacity: 0;
    transition: opacity .3s, padding-left .3s;
    text-transform: uppercase;
    font-size: 15px;
  }

  .area-1 {
    transform: translateY(-20px);
  }
  .area-2 {
    transform: translateY(-32px);
  }
  .area-3 {
    transform: translateY(-23px);
  }
  .area-4 {
    transform: translateY(8px);
  }
}

.location-wrapper-florida {
  height: 60px;
}

.location-wrapper-texas {
  height: 50px;
}

.location-wrapper-islands {
height: 100px;
}

.location-wrapper:hover  .location-content{
  padding-left: 42px;
  opacity: 1;
}

.next-launch{
  transform: translateY(-25px);
}
.next-launch, .countdown {
  @include primary-font;
}

.next-launch div {
  width: 100%;
}

.next-launch p, span {
  color: $color-red;
}

.next-launch p {
  font-size: 1rem;
  font-family: $font-heading;
  color: $color-light-grey;
  // margin-bottom: -30px;
  font-weight: 100;
  display: inline-block;
  transform: translateY(25px);
}

.next-launch span {
  display: block;
}

.next-launch .year{
  font-size: 40vw;
  font-weight: $medium;
  text-align: center;
}

.next-launch .month {
  font-size: 1.3rem;
  text-align: right;
  font-weight: $regular;
  margin-top: -17px;
  display: inline-block;
  margin-left: 80%;
}

.countdown-wrapper {
  padding-bottom: 80px;
  padding-top: 13px;
}

.countdown{
  display: flex;
  justify-content: space-between;

  &__counter {
    display: block;
    width: 25%;
  }

  &__counter  p {
    font-size: 12px;
    color: $color-medium-grey;
    display: inline;
  }

  &__counter span {
    font-size: 28px;
    color: $color-light-grey;
  }
}

.next-launch-info {
  padding-bottom: 37px;
}
.next-launch-info .accordion{
  padding-top: 12px;
}


.info__name {
@include primary-font;
  color: $color-light-grey;
  font-weight: $light;
  font-size: 16px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.info__text {
  font-family: $font-heading;
  font-weight: $light;
  font-size: 17px;
  color: $color-medium-grey;
  width: 100px;
  text-align: left;
}


.highlighted {
  color: $color-green;
  font-weight: $medium;
}

.details p {
  font-family: $font-text;
  font-size: 1rem;
  color: $color-light-grey;
  font-weight: $extra-light;
  height: 100%;
  line-height: 2;
  padding-top: 40px;
}


