@include media-s {
  .countdown-wrapper {
    width: 350px;
    margin: 0 auto;
    padding-bottom: 43px;
    padding-top: 0;
    transform: translateY(-6px);
  }
  .card {
    .card__title {
      bottom: 59%;
      left: 30px;
    }
  }

}

@include media-md {


  .next-launch .year {
    font-size: 30vw;
  }

  .devider-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    height: 100%;
    margin: 0 0 0 22%;
  }

  .card__info .devider-1,
  .card__info .devider-2 {
    width: 100%;
    margin: 0;


    .infor__name {
      font-size: 14px;
    }

    .info__text {
      font-size: 16px;
    }

  }
  // .card__info {
  //   .card__title {
  //     bottom: 54%;
  //     left: 10%;
  //   }
  // }
  .card {
    .card__title {
      font-size: 30px;
      bottom: 54%;
      left: 8%;
    }


  }
  /*Contact*/
  form {
    width: 409px;
    margin: 0 auto;
  }

}

@include media-md-l {


  .next-launch {
    transform: translateY(-50px);

    p {
      transform: translateY(50px);
    }

    .year {
      font-size: 30vw;
    }
  }

  .card {
    .card__title {
      bottom: 47%;
    }
  }


  .card__info .devider-1,
  .card__info .devider-2 {
    justify-content: space-between;
  }

  .card__description {
    text-align: center;
  }

  /*Launches*/
  .bg-launches {
    .locations-pads{
      .hr-break {
        width: 50%;
       margin-left: 26%;
       margin-right: 26%;
      }

    }
  }

}

@include media-md-lg {

  .main {
    max-width: 582px;
  }

  .next-launch {
    transform: translateY(-35px);

    .year {
      font-size: 200px;
      letter-spacing: 20px;
    }
  }

  .countdown-wrapper {
    margin: 0;
  }

  .countdown__counter span {
    font-size: 32px;
  }

  .next-launch-info .info__text {
    margin-right: 50%;
  }
}

@include media-l {
  header {
    max-width: 900px;
    margin: 0 auto;

    nav {
      width: 100%;
      margin: 0;
    }
  }

  /*Launches*/
  .bg-launches {
    .locations-pads{
      .hr-break {
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
      }

    }
  }

}

@include media-lg {

  header {
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;

    .logo {
      margin-left: -41px;

      a {
        font-size: 30px;
      }

      p {
        display: block;
        color: $color-dark-grey;
        font-size: 16px;
        font-weight: $light;
        margin-top: 8px;
      }
    }

    nav {
      width: 100%;
    }

    .hamburger {
      display: none;
    }

    .menu {
      visibility: visible;
      transform: translate(0px, 0px);
      background: transparent;
      position: absolute;
      width: 108px;
      height: 290px;
      top: 0;
      left: 50%;
      transition: none;
      transform: translate(444px, 146%);

      .nav-link {
        position: relative;
        text-align: left;
        font-size: 1rem;
        display: flex;
        justify-content: space-between;
        opacity: 1;

        .circle {
          position: absolute;
          top: 24px;
          right: -62.5%;
          height: 10px;
          width: 10px;
          background: $color-dark-grey;
          display: inline-block;
          border: none;
          border-radius: 50%;
          transition: transform .3s, background .3s;

        }

        .circle-short-line,
        .circle-long-line {
          content: '';
          position: absolute;
          background: $color-dark-grey;
          width: 3px;
          height: 32px;
          top: -19px;
          right: -55%;
        }

        .circle-short-line {
          top: 0%;
          height: 15px;
        }

        .circle-long-line {
          top: 72%;
        }

        [class~='circle-short-line']:last-of-type {
          top: 38px;
        }

        a {
          border-bottom: none;
          padding: 0;
          color: $color-dark-grey;
          display: inline-block;
          font-size: 15px;
        }

        a:hover {
          transform: scale(1.2);
          color: $color-light-grey;
          transition: transform .3s, color .3s;

        }

        a:hover+.circle {
          transform: translate(2%, -16%) scale(1.5);
          background: $color-light-grey;
        }

        .active-link {
          transform: scale(1.2);
          color: $color-light-grey;
        }

        .active-link+.circle {
          transform: translate(2%, -16%) scale(1.5);
          background: $color-light-grey;
        }

      }

    }
  }

  .main {
    padding-top: 73px;
    max-width: 1200px;
    margin: 0 auto;
    left: -25px;

    .locations {
      display: block;
      transform: translateY(134%);
      z-index: 1;
    }
  }

  .countdown-wrapper {
    width: 355px;
    position: absolute;
    top: 48px;
    left: 840px;
    padding: 0;
    display: inline-block;
    z-index: 10;


      .countdown {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;

        .countdown__counter {
          width: auto;
          display: initial;
        }

        .countdown__counter span {
          font-size: 26px;
        }

        .countdown__counter p {
          font-size: 17px;
          font-weight: $extra-light;
        }
      }

  }


  .next-launch {
    transform: translateY(12px);
  }

  .next-launch-info .accordion {
    padding-top: 20px;
  }

  .next-launch div {
    position: relative;
  }

  .next-launch .year {
    font-size: 210px;
    letter-spacing: 20px;
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%, 0%);

  }

  .next-launch p {
    font-size: 16px;
    transform: translate(111px, -1px);
  }

  .next-launch .month {
    font-size: 22px;
    font-weight: $light;
    transform: translate(-106px, 277px);
  }

  .month {
    margin-left: 95%;
  }

  .next-launch,
  .next-launch-info,
  .accordion {
    width: 800px;
    margin: 0 auto;
  }

  .next-launch-info {
    padding: 311px 0 0;

    .info-container {
      padding-bottom: 10px;
      margin-bottom: 0;

      .info__name {
        font-size: 16px;
      }

      .info__text {
        font-size: 19px;
        color: #8c8a8a;
      }

      .highlighted {
        color: #136F68;
      }
    }
  }

  /*Launches*/

  .bg-launches {
    .container {
      flex-direction: column;

      .info__text, .info__name {
        width: 25%;
      }
      .info-container {
        flex-direction: row;
      }
    }
  }


/*Rockets*/
  // .all-pages {
  //   display: block;
  // }

  h1 {
    margin-left: 16%;
    transform: translateY(-25px);
  }

  .cards {
    width: 800px;
    margin: 0 auto;

    .card {
      min-height: 450px;
    }
  }

  .bg-rockets {

    .accordion-item-content {
      padding: 1rem 1rem 1rem 1px;
    }
      .card__title {
        font-size: 56px;
        bottom: -35px;

      }

      .card__info {
        padding: 200px 22px 0px 22px;

      }
    .card__description {
    padding: 15px 10px 45px 15px;
    text-align: left;
    margin: 0 0 0 20%;
    }
  }

  /*About*/

  .bg-about {

    .about-text {
      width: 800px;
      margin: 0 auto;
      background: #21202059;
      padding: 60px;
      border-radius: 5px;
      height: 450px;
    }
  }

  /*Contact*/
  form, .success-message {
    width: 800px;
    margin: 0 auto;
    background: #21202059;
    padding: 5% 7%;
    border-radius: 5px;

    .fieldset {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 25px;
      width: 100%;

      label {
        width: 10%
      }

      input[type="text"],
      input[type="email"],
      textarea {
        width: 75%;
        font-size: 14px;
        padding: 6px 6px;

      }
      input[type="submit"]{
        width: 75%;
        margin-left: 25%;
      }

    }

  }

  /*tabs*/

  .tab-content {
    background: #1b1b1b47;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

  }
}
