.bg-rockets {
  background: $color-black url(../img/bantersnaps-5CPIzjWzGxo-unsplash.jpg) fixed no-repeat center/cover;

  &:after {
    background: rgba(41, 41, 41, 0.88);
  }

}

// h1 {
//   font-family: $font-heading;
//   color: $color-light-grey;
//   font-weight: $extra-light;
//   font-size: 26px;
//   padding: 38px 0 40px 0;
// }

.card {
  background: $color-black  no-repeat center/cover;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 38px;
  box-shadow: -16px 16px 9px #00000016;
  margin-bottom: 50px;
  position: relative;

  &>* {
    position: relative;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #484747d6;
    border-radius: 38px;

  }



  .card__title {
    font-family: $font-heading;
    color: $color-red;
    font-weight: $light;
    font-size: 24px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    position: absolute;
    bottom: 65%;
    left: 9px;
    z-index: 3;

    display:inline-block;
  }

  .hr-break {
    width: 42%;
    margin: 0 0 0 22%;
  }


  &__description {
    font-family: $font-text;
    color: $color-light-grey;
    font-weight: $light;
    font-size: .9rem;
    padding: 45px 22px 45px 22px;
    line-height: 1.6;
  }
}


[class~='card']:last-of-type {
  margin-bottom: 0px;
}

.card__info {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 45px 22px 45px 22px;

  .devider-container {
    margin: 0 0 0 20%;
  }


  .info-container {
    flex-direction: column;
    width: 33%;
  }
  .info__name {
    color: $color-dark-grey;
    font-size: 12px;
    padding-bottom: 6px;
  }

  .info__text {
    color: $color-light-grey;
    font-size: 12px;
  }

  .devider-1, .devider-2 {
    display: flex;
    // width: 60%;
    // margin: auto;
  }
  // .devider-1 .info__text, .devider-2 .info__text {
  //   width: 100%;
  // }
}
