/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.bg-rockets {
  background-image: url("../img/bantersnaps-5CPIzjWzGxo-unsplash.jpg");
  background-color: $color-black;
}

.rockets .overlay {
  background: rgba(41, 41, 41, 0.88);
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 2.375rem;
  -webkit-box-shadow: -1rem 1rem 0.563rem #00000016;
  box-shadow: -1rem 1rem 0.563rem #00000016;
  margin-bottom: 3.125rem;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-black;


  &>* {
    position: relative;
    z-index: 2;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #484747d6;
    border-radius: 2.375rem;

  }

  .card__title {
    font-family: $font-heading;
    color: $color-red;
    font-weight: $light;
    font-size: 1.9rem;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    position: absolute;
    left: 0.563rem;
    z-index: 3;
    display: inline-block;
  }


  .hr-break {
    width: 42%;
    margin: 0 0 0 22%;
  }

  &__description {
    font-family: $font-text;
    color: $color-light-grey;
    font-weight: $light;
    font-size: .9rem;
    padding: 2.813rem 1.375rem;
    line-height: 1.6;

    .accordion-item-content {
      padding: 0;
    }
  }
}


.card:nth-of-type(1) {
  background-image: url(../img/falcon1.jpg);

  .card__title {
    bottom: 60%;
  }
}

.card:nth-of-type(2) {
  background-image: url(../img/falcon9.png);

  .card__title {
    bottom: 52%;
  }
}

.card:nth-of-type(3) {
  background-image: url(../img/FalconHeavy.png);

  .card__title {
    bottom: 57%;
  }
}

.card:nth-of-type(4) {
  background-image: url(../img/starship.png);

  .card__title {
    bottom: 59%;
  }
}

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  padding: 2.813rem 1.375rem;

  .devider-container {
    margin: 0 0 0 20%;
  }

  .info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 33%;
  }

  .info__name {
    color: $color-dark-grey;
    font-size: 0.7rem;
    padding-bottom: 0.375rem;
  }

  .info__text {
    color: $color-light-grey;
    font-size: 0.8rem;
  }

  .devider-1,
  .devider-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
