.bg-parallax {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

  }
}


@import './config';
@import './home';
@import './launches';
@import './rockets';
@import './about';
@import './contact';

img {
  width: 100%;
}

header {
  font-family: $font-heading;
  position: fixed;
  top: 38px;
  width: 99%;
  z-index: 4;

  .inner-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 0 36px;
    position: absolute;
    z-index: 6;
  }

  .logo a {
    @include primary-font;
    color: $color-light-grey;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-decoration: none;
  }

  .hamburger {
    width: 44px;
    height: 29px;
  }


  .hamburger span {
    height: 4px;
    background: $color-light-grey;
    display: block;
    border: none;
    transition: .2s ease-in-out;
  }

  .hamburger span:nth-child(1) {
    width: 50%;
    margin-bottom: 5px;
  }

  .hamburger span:nth-child(2) {
    width: 90%;
    margin-bottom: 5px;
    margin-left: 10%;
  }

  .hamburger span:nth-child(3) {
    width: 50%;
    margin-left: 50%;
  }

  .open span:nth-child(1) {
    width: 100%;
    transform: rotate(45deg) translate(7px, 9px)
  }

  .open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .open span:nth-child(3) {
    width: 100%;
    margin: 0;
    transform: rotate(-45deg) translate(4px, -6px);
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #3a3a3a;
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform .5s ease-in-out;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    &.dropdown {
      visibility: visible;
      transform: translateY(0%);
    }

    &.dropdown li {
      opacity: 1;
      transition: opacity 0.7s ease-in;
    }
    &.dropdown li:nth-child(1) {
      transition-delay: 0.2s;
    }
    &.dropdown li:nth-child(2) {
      transition-delay: 0.3s;
    }
    &.dropdown li:nth-child(3) {
      transition-delay: 0.4s;
    }
    &.dropdown li:nth-child(4) {
      transition-delay: 0.5s;
    }
    &.dropdown li:nth-child(5) {
      transition-delay: 0.6s;
    }

    ul {
      text-decoration: none;
      list-style: none;
      text-align: center;

      li {
        padding: 1rem 0;
        opacity: 0;
      }



      a {
        text-decoration: none;
        color: $color-light-grey;
        font-weight: $extra-light;
        border-bottom: 2px solid $color-red;
        padding-bottom: 5px;

        &:hover {
          color: $color-red;
          font-weight: $regular;
          border-bottom: 2px solid $color-light-grey;
        }
      }


    }

  }

}

main {
  padding-top: 90px;
  width: 80%;
  margin: auto;
  min-height: calc(100vh - 150px);
  z-index: 4;
  position: relative;
    z-index: 2;
}

h1 {
  font-family: $font-heading;
  color: $color-red;
  font-weight: $regular;
  font-size: 26px;
  padding: 72px 0 40px 0;
}

.accordion_btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  background: $color-dark-grey;
  border-radius: 5px;
  border: none;
  color: $color-black;
  @include primary-font;
  font-size: 1rem;
  font-weight: $light;
  padding: 0 8px;
  margin-bottom: 32px;
}

.cross-wrapper {
  padding-top: 8px;
}

.cross {
  display: block;
  background: #525050;
  width: 16px;
  height: 2px;
}

.cross::after {
  content: "";
  display: block;
  background: #525050;
  width: 16px;
  height: 2px;
  transform: rotate(90deg);

}

.tab-content,
.location-launches__info {
  max-height: 0;
  overflow: auto;
  transition: max-height, .3s ease-in-out;
}

[class~='launches_container']:last-of-type {
  margin-bottom: 90px;
}

.active {
  background: transparent;
  font-weight: $semibold;
  color: $color-red;
}

.active .cross::after {
  background: $color-red;
  transform: rotate(180deg);
  transition: .5s ease-in-out;
}

.hr-break {
  width: 90%;
  margin: 90px 6% 90px;
  border: 2px #FC3D21 solid;
  opacity: 0.65;
}


.footer {
  padding: 40px 0;
  position: relative;
    z-index: 2;
  section {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      @include primary-font;
      font-weight: $extra-light;
      font-size: 12px;
      color: $color-dark-grey;
    }

    span {
      width: 40px;
      height: 4px;
      background: $color-dark-grey;
      margin: 5px 0 5px;
      display: block;
      margin: 16px 0;
    }
  }

}
