*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  text-decoration: none;
  list-style: none;
}

$font-heading: 'Oswald', sans-serif;
$font-text: 'Open Sans', sans-serif;

@mixin primary-font {
  font-family: $font-heading;
  text-transform: uppercase;
}

@mixin link-style {
  font-family: $font-text;
  font-weight: $light;
  color: $color-light-grey;
  text-decoration: none;
  border-bottom: 2px solid $color-light-grey;
  -webkit-transition: border-bottom 0.4s ease;
  -o-transition: border-bottom 0.4s ease;
  transition: border-bottom 0.4s ease;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

@mixin link-style-hover {
  color: $color-dark-grey;
  border-bottom: 2px solid $color-red;
  cursor: pointer;
}

$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

$color-black: #212020;
$color-dark-grey: #a7a9ac;
$color-medium-grey: #707070;
$color-light-grey: #f0f0f0;
$color-red: #fc3d21;
$color-green: #136f68;

@mixin media-xs {
  @media screen and (min-width: 28.25rem) {
    @content;
  }
}

@mixin media-s {
  @media screen and (min-width: 32rem) {
    @content;
  }
}

@mixin media-m {
  @media screen and (min-width: 42rem) {
    @content;
  }
}

@mixin media-md-l {
  @media screen and (min-width: 43.75rem) {
    @content;
  }
}

@mixin media-l {
  @media screen and (min-width: 64rem) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 85.375rem) {
    @content;
  }
}
