/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.bg-home {
  background-image: url('../img/lea-castanie-irQ74aUdmjY-unsplash.jpg');
  background-color: $color-black;
}

.home .overlay {
  background: rgba(53, 52, 52, 0.87);
}

.main-home .accordion_btn {
  margin-bottom: 0;
}

.next-launch,
.countdown {
  @include primary-font;
}

.coundtdown-desktop {
  display: none;
}

.next-launch div {
  width: 100%;
}

.next-launch p,
span {
  color: $color-red;
}

.next-launch p {
  font-size: 1rem;
  font-family: $font-heading;
  color: $color-light-grey;
  font-weight: 100;
  display: inline-block;
  -webkit-transform: translateY(1.563rem);
  -ms-transform: translateY(1.563rem);
  transform: translateY(1.563rem);
}

.next-launch span {
  display: block;
}

.next-launch .year {
  font-size: 40vw;
  font-weight: $medium;
  text-align: center;
}

.next-launch .month {
  font-size: 1.3rem;
  text-align: right;
  font-weight: $regular;
  -webkit-transform: translateY(-12.063px);
  -ms-transform: translateY(-12.063px);
  transform: translateY(-12.063px);
}

.next-launch-info {
  padding-bottom: 2.313rem;
}

.next-launch-info .accordion {
  padding-top: 0.75rem;
}

.next-launch-info__first-part {
  padding-top: 3rem;
}

.info__name {
  @include primary-font;
  color: $color-light-grey;
  font-weight: $light;
  font-size: 1rem;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.info__text {
  font-family: $font-text;
  font-weight: $light;
  font-size: 1.063rem;
  color: #9e9b9b;
  text-align: left;

  a {
    font-size: 0.98rem;
    @include link-style;
  }

  a:hover {
    @include link-style-hover;
  }
}

.highlighted {
  color: $color-green;
  font-weight: $medium;
}

.details {
  font-family: $font-text;
  font-size: 1rem;
  color: $color-light-grey;
  font-weight: $extra-light;
  line-height: 2;
  padding: 0;
}
