/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@include media-s {
  .home {
    .main-home {
      max-width: 409px;
    }
  }

  .next-launch .year {
    font-size: 12rem;
  }

  .devider-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    height: 100%;
    margin: 0 0 0 22%;
  }

  .card__info .devider-1,
  .card__info .devider-2 {
    width: 100%;
    margin: 0;

    .infor__name {
      font-size: 0.875rem;
    }

    .info__text {
      font-size: 1rem;
    }
  }

  .card {
    .card__title {
      font-size: 1.875rem;
      bottom: 54%;
      left: 8%;
    }
  }
}

@include media-m {
  .countdown-wrapper {
    padding: 0;
  }

  .next-launch {
    p {
      -webkit-transform: translateY(3.125rem);
      -ms-transform: translateY(3.125rem);
      transform: translateY(3.125rem);
    }

    .year {
      letter-spacing: 0.5rem;
      margin-left: -0.3rem;
    }

    .month {
      -webkit-transform: translate(-0.5rem, -1rem);
      -ms-transform: translate(-0.5rem, -1rem);
      transform: translate(-0.5rem, -1rem);
    }
  }

  .next-launch-info {
    padding-bottom: 1.5rem;
  }

  .card {
    .card__title {
      bottom: 47%;
    }
  }

  .card__info .devider-1,
  .card__info .devider-2 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .card__description {
    text-align: center;
  }

  .card:nth-of-type(3) .card__title {
    bottom: 48%;
  }

  .card:nth-of-type(4) .card__title {
    bottom: 54%;
  }

  /*Launches*/
  .launch {
    .locations-pads {
      .hr-break {
        width: 50%;
        margin-left: 26%;
        margin-right: 26%;
      }
    }
  }

  .tab-content {
    background: #1b1b1b47;
    border-bottom-left-radius: 0.313rem;
    border-bottom-right-radius: 0.313rem;
  }
}

@include media-md-l {
  .main {
    max-width: 36.375rem;
  }
}

@include media-l {
  header {
    max-width: 56.25rem;
    margin: 0 auto;
  }

  nav {
    width: 100%;
    margin: 0;
  }

  .home {
    .main-home {
      max-width: 40rem;
    }
    .info-container .info__text {
      width: 50%;
    }
  }

  .countdown-wrapper {
    width: 63%;
  }

  .next-launch {
    .year {
      font-size: 14rem;
      letter-spacing: 1.5;
    }

    .month {
      -webkit-transform: translate(-3.5rem, -1.5rem);
      -ms-transform: translate(-3.5rem, -1.5rem);
      transform: translate(-3.5rem, -1.5rem);
      font-size: 1.8rem;
    }
  }

  .next-launch-info {
    padding-top: 0;
  }

  /*Launches*/
  .launch {
    .locations-pads {
      .hr-break {
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
      }
    }
  }

  .card__info {
    .info__name {
      font-size: 0.8rem;
    }
  }
}

@include media-xl {
  .home {
    .main-home {
      max-width: 75rem;
    }
  }

  header {
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
  }

  .logo {
    a {
      font-size: 1.875rem;
    }
  }

  nav {
    width: 100%;
  }

  .hamburger {
    display: none;
  }

  .menu-desktop-wrapper {
    display: block;
    font-family: $font-heading;
    position: fixed;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    bottom: 8%;
    right: calc(100vw / 2 - 75rem / 2 + 44px);
    z-index: 20000;
    width: 60px;
    height: 18.125rem;
    background: transparent;
    margin-left: auto;

    .menu-desktop {
      .nav-link {
        position: relative;
        text-align: left;
        font-size: 1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        opacity: 1;

        .circle {
          position: absolute;
          top: 1.5rem;
          right: -36.8px;
          height: 0.625rem;
          width: 0.625rem;
          background: #acadafc7;
          display: inline-block;
          border: none;
          border-radius: 50%;
          -webkit-transition: background 0.3s, -webkit-transform 0.3s;
          transition: background 0.3s, -webkit-transform 0.3s;
          -o-transition: transform 0.3s, background 0.3s;
          transition: transform 0.3s, background 0.3s;
          transition: transform 0.3s, background 0.3s, -webkit-transform 0.3s;
        }

        .circle-short-line,
        .circle-long-line {
          content: "";
          position: absolute;
          background: #acadafc7;
          width: 0.188rem;
          height: 2rem;
          top: -1.188rem;
          right: -55%;
        }

        .circle-short-line {
          top: -1%;
          height: 1rem;
        }

        .circle-long-line {
          top: 73%;
        }

        [class~="circle-short-line"]:last-of-type {
          top: 71%;
        }

        a {
          border-bottom: none;
          color: #acadafc7;
          display: inline-block;
          font-size: 1rem;
          padding: 1rem 0;
          font-weight: $extra-light;
          text-transform: uppercase;
        }

        a:hover {
          -webkit-transform: scale(1.2) translateX(3px);
          -ms-transform: scale(1.2) translateX(3px);
          transform: scale(1.2) translateX(3px);
          color: $color-light-grey;
          transition: color 0.3s, -webkit-transform 0.3s;
          -webkit-transition: color 0.3s, -webkit-transform 0.3s;
          -o-transition: transform 0.3s, color 0.3s;
          transition: transform 0.3s, color 0.3s;
          transition: transform 0.3s, color 0.3s, -webkit-transform 0.3s;
        }

        a:hover + .circle {
          -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
          transform: scale(1.5);
          background: $color-light-grey;
        }

        .active-link {
          -webkit-transform: scale(1.2) translateX(3px);
          -ms-transform: scale(1.2) translateX(3px);
          transform: scale(1.2) translateX(3px);
          color: $color-light-grey;
        }

        .active-link + .circle {
          -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
          transform: scale(1.5);
          background: $color-light-grey;
        }
      }
    }
  }

  .main {
    padding-top: 8.5rem;
    max-width: 75rem;
    margin: 0 auto;
  }

  .countdown-wrapper {
    width: 300px;
    display: inline-block;
    z-index: 10;
    -webkit-transform: translateY(0rem);
    -ms-transform: translateY(0rem);
    transform: translateY(0rem);
    max-width: initial;

    .countdown {
      width: 100%;
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      .countdown__counter {
        width: auto;
        display: initial;
      }

      .countdown__counter span {
        font-size: 1.625rem;
      }

      .countdown__counter p {
        font-size: 1.063rem;
        font-weight: $extra-light;
      }
    }
  }

  .home {
    .coundtdown-mobile {
      display: none;
    }
  }

  .next-launch {
    -webkit-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    transform: translateY(-2rem);
  }

  .next-launch div {
    bottom: 1.5rem;
  }

  .next-launch .year {
    font-size: 16em;
    letter-spacing: 3.58rem;
  }

  .next-launch p {
    font-size: 1rem;
  }

  .next-launch .month {
    font-size: 1.8rem;
    font-weight: $light;
    bottom: 0;
    -webkit-transform: translate(-61px, -40px);
    -ms-transform: translate(-61px, -40px);
    transform: translate(-61px, -40px);
  }

  .month {
    margin-left: auto;
    text-align: right;
  }

  .next-launch,
  .next-launch-info {
    width: 60%;
    margin: 0 auto;
  }

  .next-launch-info__first-part {
    padding-top: 0;
  }

  .next-launch-info {
    -webkit-transform: translateY(-2rem);
    -ms-transform: translateY(-2rem);
    transform: translateY(-2rem);

    .info-container {
      padding-bottom: 0.625rem;
      margin-bottom: 0;

      .info__name {
        font-size: 1rem;
      }

      .info__text {
        font-size: 1rem;
        color: #8c8a8a;
      }

      .highlighted {
        color: #136f68;
      }
    }
  }

  /*Launches*/
  .launch {
    .accordion {
      width: 60%;
      margin: 0 auto;
    }

    .location-launches {
      -webkit-transform: translateY(0rem);
      -ms-transform: translateY(0rem);
      transform: translateY(0rem);
    }

    .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      .info__text,
      .info__name {
        width: 25%;
      }

      .info-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
      }
    }

    .upcoming-launches,
    .previous-launches {
      -webkit-transform: translateY(-2rem);
      -ms-transform: translateY(-2rem);
      transform: translateY(-2rem);
    }

    .previous-launches-container,
    .upcoming-launches-container {
      .container {
        .launches_container {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;

          .info-container {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
          }
        }
      }
    }
  }

  h1 {
    margin-left: 16%;
    -webkit-transform: translateY(-1.563rem);
    -ms-transform: translateY(-1.563rem);
    transform: translateY(-1.563rem);
  }

  .cards {
    width: 60%;
    margin: 0 auto;

    .card {
      min-height: 28.125rem;
    }
  }

  .rockets {
    .accordion-item-content {
      padding: 1rem 1rem 1rem 0.063rem;
    }

    .card__title {
      font-size: 3.5rem;
    }

    .card:nth-of-type(1) .card__title,
    .card:nth-of-type(2) .card__title,
    .card:nth-of-type(3) .card__title,
    .card:nth-of-type(4) .card__title {
      bottom: 0;
    }

    .card__info {
      padding: 12.5rem 1.375rem 0rem 1.375rem;
    }

    .card__description {
      padding: 0.938rem 0.625rem 2.813rem 0.938rem;
      text-align: left;
      margin: 0 0 0 20%;
    }
  }

  /*About*/
  .about {
    .about-text {
      width: 60%;
      margin: 0 auto;
      background: #21202059;
      padding: 3.75rem;
      border-radius: 0.313rem;
      height: 28.125rem;
    }
  }

  /*Scroll-Up Icon*/
  .scroll-up {
    bottom: 10%;
    right: 25%;
  }
}
