// we will cover SASS in new semester in detail, nice to see you are using it.

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import './config';

/*Page transition*/
.animatein {
  -webkit-animation: transitionIn 0.75s;
  animation: transitionIn 0.75s;
}

@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*Loader*/
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background: $color-black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .circles-wrapper {
    .circle,
    .circle:nth-child(2),
    .circle:nth-child(3) {
      -webkit-box-shadow: 0rem 0rem 0rem 0rem #f0f0f0;
      box-shadow: 0rem 0rem 0rem 0rem #f0f0f0;
      border-radius: 50%;
      background-color: $color-light-grey;
      width: 1.25rem;
      height: 1.25rem;
      -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center;
      display: inline-block;
      position: relative;
      -webkit-animation: scale 1.2s linear infinite;
      animation: scale 1.2s linear infinite;
      -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
      transform: scale(0.5);
      opacity: 0.25;
      margin: 0.313rem;
    }

    .circle:nth-child(2) {
      background: $color-light-grey;
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }

    .circle:nth-child(3) {
      background: $color-light-grey;
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }
  }
}

.hidden {
  -webkit-animation: fadeOut 1.2s;
  animation: fadeOut 1.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: -1;
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.25;
  }

  25% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.5;
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.75;
  }

  75% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.25;
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.25;
  }

  25% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.5;
  }

  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.75;
  }

  75% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.25;
  }
}

/*Arrow - Scroll indicator*/
.scroll-indicator,
.scroll-up {
  position: fixed;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  z-index: 5;
  -webkit-box-shadow: 0rem 0rem 0.375rem 0.188rem #b7b7b7ad;
  box-shadow: 0rem 0rem 0.375rem 0.188rem #b7b7b7ad;
  background: #b7b7b7;
  opacity: 0;
}

.show {
  opacity: 0;
  -webkit-animation: bounce 5s ease-in-out 1s;
  animation: bounce 5s ease-in-out 1s;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.arrow {
  display: block;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  border-bottom: 0.125rem solid #fc3d21ad;
  border-right: 0.125rem solid #fc3d21ad;
  -webkit-transform: rotate(45deg) translate(1.75rem, 0rem);
  -ms-transform: rotate(45deg) translate(1.75rem, 0rem);
  transform: rotate(45deg) translate(1.75rem, 0rem);
}

@-webkit-keyframes bounce {
  0% {
    margin-bottom: 0rem;
    opacity: 0;
  }

  20% {
    margin-bottom: 0rem;
    opacity: 1;
  }

  40% {
    margin-bottom: -1.875rem;
    opacity: 1;
  }

  60% {
    margin-bottom: 0;
    opacity: 1;
  }

  80% {
    margin-bottom: -0.938rem;
    opacity: 1;
  }

  100% {
    mmargin-bottom: 0rem;
    opacity: 0;
  }
}
@keyframes bounce {
  0% {
    margin-bottom: 0rem;
    opacity: 0;
  }

  20% {
    margin-bottom: 0rem;
    opacity: 1;
  }

  40% {
    margin-bottom: -1.875rem;
    opacity: 1;
  }

  60% {
    margin-bottom: 0;
    opacity: 1;
  }

  80% {
    margin-bottom: -0.938rem;
    opacity: 1;
  }

  100% {
    mmargin-bottom: 0rem;
    opacity: 0;
  }
}

@keyframes showArrow {
  to {
    opacity: 1;
  }
}

.scroll-up {
  bottom: 5%;
  right: 15%;
  top: unset;
  left: unset;
  -webkit-box-shadow: 0.063rem 0.125rem 0.625rem 0rem #b7b7b742;
  box-shadow: 0.063rem 0.125rem 0.625rem 0rem #b7b7b742;
  border: 0.125rem solid #757373ad;
  background: #27282a;
  -webkit-transform: rotate(-180deg) translate(-1.563rem, -0.063rem);
  -ms-transform: rotate(-180deg) translate(-1.563rem, -0.063rem);
  transform: rotate(-180deg) translate(-1.563rem, -0.063rem);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  opacity: 0;

  .arrow {
    -webkit-transform: rotate(45deg) translate(1.375rem, -0.188rem);
    -ms-transform: rotate(45deg) translate(1.375rem, -0.188rem);
    transform: rotate(45deg) translate(1.375rem, -0.188rem);
  }
}

.scroll-up.active {
  opacity: 1;
}

.scroll-up:active {
  -webkit-box-shadow: 0.063rem 0.063rem 0.625rem 0.188rem #b7b7b7b8;
  box-shadow: 0.063rem 0.063rem 0.625rem 0.188rem #b7b7b7b8;
}

/*Global CSS*/
.menu-desktop-wrapper {
  display: none;
}
.bg-parallax {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2000;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
}

header {
  font-family: $font-heading;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  height: 6.25rem;
  padding-top: 2rem;

  nav {
    width: 80%;
    margin: 0 auto;
  }

  .inner-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }

  .logo {
    z-index: 1;
  }

  .logo a {
    @include primary-font;
    color: $color-light-grey;
    font-size: 1.8rem;
    letter-spacing: 0.063rem;
    text-decoration: none;
  }

  .hamburger {
    background: transparent;
    border: none;
    width: 4rem;
    height: 4rem;
    padding: 8px;
    z-index: 1;
  }

  .visually-hidden {
    display: none;
  }

  .hamburger span {
    height: 0.25rem;
    background: $color-light-grey;
    display: block;
    border: none;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
  }

  .hamburger span:nth-child(1) {
    width: 50%;
    margin-bottom: 0.313rem;
  }

  .hamburger span:nth-child(2) {
    width: 90%;
    margin-bottom: 0.313rem;
    margin-left: 10%;
  }

  .hamburger span:nth-child(3) {
    width: 50%;
    margin-left: 50%;
  }

  .open span:nth-child(1) {
    width: 100%;
    -webkit-transform: rotate(45deg) translate(0.438rem, 0.563rem);
    -ms-transform: rotate(45deg) translate(0.438rem, 0.563rem);
    transform: rotate(45deg) translate(0.438rem, 0.563rem);
  }

  .open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  .open span:nth-child(3) {
    width: 100%;
    margin: 0;
    -webkit-transform: rotate(-45deg) translate(0.25rem, -0.375rem);
    -ms-transform: rotate(-45deg) translate(0.25rem, -0.375rem);
    transform: rotate(-45deg) translate(0.25rem, -0.375rem);
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #3a3a3a;
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;

  &.dropdown {
    visibility: visible;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }

  &.dropdown li {
    opacity: 1;
    -webkit-transition: opacity 0.7s ease-in;
    -o-transition: opacity 0.7s ease-in;
    transition: opacity 0.7s ease-in;
  }

  &.dropdown li:nth-child(1) {
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  &.dropdown li:nth-child(2) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  &.dropdown li:nth-child(3) {
    -webkit-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }

  &.dropdown li:nth-child(4) {
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }

  &.dropdown li:nth-child(5) {
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
}

.menu {
  ul {
    text-align: center;

    li {
      padding: 1.5rem 0;
      opacity: 0;
    }

    a {
      text-decoration: none;
      color: $color-light-grey;
      font-weight: $extra-light;
      border-bottom: 0.125rem solid $color-red;
      padding-bottom: 0.313rem;
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
}

.inner-counter {
  display: block;
  font-family: $font-heading;
  text-transform: uppercase;
  font-weight: $light;
  color: #a7a9ac;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
  text-align: left;
  margin-bottom: 0.5rem;
}

img {
  width: 100%;
}

.main {
  padding-top: 7rem;
  width: 80%;
  margin: 0 auto;
  min-height: calc(100vh - 9.375rem);
  position: relative;
}

h1 {
  font-family: $font-heading;
  color: $color-red;
  font-weight: $regular;
  font-size: 1.625rem;
  padding: 2.375rem 0 2.5rem 0;
}

.countdown-wrapper {
  padding-top: 3rem;
  line-height: 1.8;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  &__counter p {
    font-size: 0.75rem;
    color: $color-medium-grey;
    display: inline;
  }

  &__counter span {
    font-size: 1.75rem;
    color: $color-light-grey;
  }
}

.all-pages {
  display: none;
}

.accordion_btn ~ .tab-content {
  height: 0rem;
}

.tab-content {
  padding: 0 1.125rem;
  overflow: hidden;
  line-height: 1.5rem;
  -webkit-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.accordion .active {
  background: #1b1b1b96;
  font-weight: $regular;
  -webkit-box-shadow: 0rem rem 1.125rem rem #f0f0f0;
  box-shadow: 0rem rem 1.125rem rem #f0f0f0;
  color: $color-light-grey;
}

.active + .tab-content {
  height: 100%;
}

.active .cross::after {
  background: $color-light-grey;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.accordion_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 4rem;
  background: $color-dark-grey;
  border-radius: 0.313rem;
  border: none;
  color: $color-black;
  @include primary-font;
  font-size: 1rem;
  font-weight: $light;
  padding: 0 1.25rem 0 0.5rem;
  margin-bottom: 2rem;
  -webkit-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;

  &:hover {
    background: #1b1b1b6b;
    color: $color-light-grey;
  }

  &:hover .cross {
    background: $color-light-grey;
  }

  &:hover .cross::after {
    background: $color-light-grey;
  }

  &:focus {
    outline: none;
    -webkit-box-shadow: 0rem 0rem 0.188rem 0rem #f0f0f0;
    box-shadow: 0rem 0rem 0.188rem 0rem #f0f0f0;
  }
}

[class~='accordion_btn']:last-of-type {
  margin-bottom: 0;
}

.cross-wrapper {
  padding-top: 0.5rem;
}

.cross {
  display: block;
  background: #525050;
  width: 1rem;
  height: 0.125rem;
}

.cross::after {
  content: '';
  display: block;
  background: #525050;
  width: 1rem;
  height: 0.125rem;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-item-content {
  padding: 1rem;
}

[class~='launches_container']:last-of-type {
  padding-bottom: 0.313rem;
}

.hr-break {
  width: 90%;
  margin: 5.625rem 1rem 5.625rem;
  border: 0.125rem #fc3d21 solid;
  opacity: 0.65;
}

/*Location Menu Left-Side*/
.locations {
  -webkit-transform: translateY(150%);
  -ms-transform: translateY(150%);
  transform: translateY(150%);
  display: none;

  .location-wrapper {
    display: block;
    font-family: $font-heading;
    color: $color-light-grey;
    font-weight: $extra-light;
    width: 1.25rem;
    height: 4.688rem;

    .title {
      width: 6.25rem;
    }

    .title h3 {
      font-weight: $extra-light;
      text-align: center;
      display: inline-block;
      -webkit-transform: rotate(-90deg) translate(-100%, 0);
      -ms-transform: rotate(-90deg) translate(-100%, 0);
      transform: rotate(-90deg) translate(-100%, 0);
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
    }

    .title .active-location {
      border-bottom: 0.125rem solid #fc3d21;
      font-weight: $light;
    }

    .location-content {
      padding-left: 1.875rem;
      width: 9.375rem;
      opacity: 0;
      -webkit-transition: opacity 0.3s, padding-left 0.3s;
      -o-transition: opacity 0.3s, padding-left 0.3s;
      transition: opacity 0.3s, padding-left 0.3s;
      text-transform: uppercase;
      font-size: 0.938rem;
    }

    .area-1 {
      -webkit-transform: translateY(-1.25rem);
      -ms-transform: translateY(-1.25rem);
      transform: translateY(-1.25rem);
    }

    .area-2 {
      -webkit-transform: translateY(-2rem);
      -ms-transform: translateY(-2rem);
      transform: translateY(-2rem);
    }

    .area-3 {
      -webkit-transform: translateY(-2.188rem);
      -ms-transform: translateY(-2.188rem);
      transform: translateY(-2.188rem);
    }

    .area-4 {
      -webkit-transform: translateY(-1.625rem);
      -ms-transform: translateY(-1.625rem);
      transform: translateY(-1.625rem);
    }
  }
  @include media-xl {
    display: block;
    position: fixed;
    bottom: 10%;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    height: 18.125rem;

    .location-wrapper {
      .mislands {
        -webkit-transform: rotate(-90deg) translate(-64%, 1%);
        -ms-transform: rotate(-90deg) translate(-64%, 1%);
        transform: rotate(-90deg) translate(-64%, 1%);
      }

      .texas {
        -webkit-transform: rotate(-90deg) translate(-63%, 1%);
        -ms-transform: rotate(-90deg) translate(-63%, 1%);
        transform: rotate(-90deg) translate(-63%, 1%);
      }
    }
  }
}

.location-wrapper-florida {
  height: 3.75rem;
}

.location-wrapper-texas {
  height: 3.125rem;
}

.location-wrapper-islands {
  height: 6.25rem;
}

.location-wrapper:hover .location-content {
  padding-left: 2.625rem;
  opacity: 1;
}

/*Footer*/
.footer {
  padding: 2.5rem 0;
  position: relative;
  z-index: 2;

  section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    p {
      @include primary-font;
      font-weight: $extra-light;
      font-size: 0.75rem;
      color: $color-dark-grey;
    }

    span {
      width: 2.5rem;
      height: 0.25rem;
      background: $color-dark-grey;
      margin: 0.313rem 0 0.313rem;
      display: block;
      margin: 1rem 0;
    }
  }
}

a {
  text-decoration: none;
}

.logo-text {
  display: block;
  color: $color-dark-grey;
  font-size: 1rem;
  font-weight: $light;
  margin-top: 0.5rem;
}

@include media-xs {
  .countdown-wrapper {
    padding-bottom: 2.688rem;
    padding-top: 0;
  }
}

@import './launches';
@import './rockets';
@import './about';
@import './contact';
@import './home';
@import './responsive';
